.btn.btn-studentzone {                  //loginpage uses this for login button
    background-color: $secondary-color;
}



.btn.btn-primary {
    background-color: $secondary-color;
    color: $secondary-text-color; //text on button (login page buttons)
}


.button{
    background-color: $primary-color;
    border-radius: 10px;
    height:auto;
    width:auto;
}