.btn.btn-studentzone {                  //loginpage uses this for login button
    background-color: $secondary-color;
}



.btn.btn-primary {
    background-color: $form-colour-one;
}


.button{
    background-color: $primary-color;
    border-radius: 10px;
    height:auto;
    width:auto;
}