$primary-color: #fdfdfd !default;          //this is used for the background colour
$secondary-color: #FFBF0B !default;        //this is used for the search bar colour
$secondary-text-color: rgb(0, 0, 0) !default;
$mobile-nav-trigger-bg: #ff00bf !default;
$primary-text-color:#000000 !default;